extends ../layout

//- res.render("articles/show", { article, title: article.title });
//- the above line from article.js provides the data for the variables below

block content
  h2= article.title
  include by_line
  p= article.body
  a(href="../") &larr; Back 
  | | 
  a(href="/articles/" + article.id + "/edit") Edit Article 
  | | 
  a(href="/articles/" + article.id + "/delete") Delete Article